<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'url_shortener/index.css' %}">
<html>
    <head>
        <meta charset="utf-8">
        <title>URL Shortener</title>
    </head>
    <body>
        <div id="content">
            <div id="content-title">
                <p> URL Shortener </p>
            </div>
            <div id="input">
                <p> URL Shortener 2 </p>
            </div>
            <div id="output">
                <p> URL Shortener 3 </p>
            </div>
        </div>
    </body>
</html>